html {
  font-size: 1vw;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mitr', sans-serif;
}

/*header*/
header {
  padding: 0;
  margin: 0;
  top: 0;
  right: 1vw;
  position: fixed;
  z-index: 5;
  background-color: #E5E5E5;
  width: 0vw;
  height: 0vw;
  border-bottom-left-radius: 100%;
  -webkit-transition-property: width, height;
  transition-property: width, height;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.header-expand {
  width: 30vw;
  height: 25vw;
}

.header-svg {
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header-svg:hover {
  color: yellow;
  width: 3rem;
  height: 3rem;
}

li a {
  text-decoration: none;
  font-size: 2rem;
  color: #063986;
}

ul {
  list-style-type: none;
  position: relative;
}

.li-about {
  position: absolute;
}

.li-projects {
  position: absolute;
  padding-top: 8rem;
  padding-left: 4rem;
}

.li-contact {
  position: absolute;
  padding-top: 16rem;
  padding-left: 12rem;
}

/*main*/
main {
  height: 100vh;
  -ms-scroll-snap-type: y;
      scroll-snap-type: y;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

/*section*/
section {
  height: 100vh;
  scroll-snap-align: start;
}

/*home
 section*/
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.home-box-1 {
  width: 50vw;
  height: 100vh;
  background-color: #363636;
  position: relative;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

#svgArrowRight {
  position: absolute;
  top: 5vh;
  right: 1vw;
}

#svgArrowLeft {
  position: absolute;
  top: 5vh;
  left: 1vw;
}

.home-box-extend {
  width: 100vw;
}

.home-box-compress {
  width: 0vw;
}

.home-box-2 {
  width: auto;
  height: 100vh;
  background-color: #ffffff;
  position: relative;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.home-bg-chg {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.svg-arrow-left,
.svg-arrow-right {
  cursor: pointer;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: 2.5rem;
  height: 2.5rem;
}

@-webkit-keyframes fadeOut {
  0% {
    padding-left: 2px;
    padding-right: 2px;
  }
  20% {
    padding-left: 4px;
    padding-right: 4px;
  }
  40% {
    padding-left: 6px;
    padding-right: 6px;
  }
  60% {
    padding-left: 6px;
    padding-right: 6px;
  }
  80% {
    padding-left: 4px;
    padding-right: 4px;
  }
  100% {
    padding-left: 2px;
    padding-right: 2px;
  }
}

@keyframes fadeOut {
  0% {
    padding-left: 2px;
    padding-right: 2px;
  }
  20% {
    padding-left: 4px;
    padding-right: 4px;
  }
  40% {
    padding-left: 6px;
    padding-right: 6px;
  }
  60% {
    padding-left: 6px;
    padding-right: 6px;
  }
  80% {
    padding-left: 4px;
    padding-right: 4px;
  }
  100% {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.home-text-div {
  position: absolute;
  top: 30%;
  left: 31%;
  padding: 2rem;
}

.home-text1 {
  font-size: 5rem;
}

.home-text2 {
  font-size: 3rem;
}

.home-text3 {
  font-size: 3rem;
}

.home-text2-1,
.home-text3-1,
.home-text1 {
  color: #ffffff;
}

.home-text2-2,
.home-text3-2 {
  color: #363636;
}

/*about
 section*/
.about {
  background-color: bisque;
}

/*projects
 section*/
.projects {
  background-color: cyan;
}

/*contact
 section*/
.contact {
  background-color: darkorange;
}

@media (max-width: 400px) {
  html {
    font-size: 2.5vw;
  }
  .header-expand {
    width: 30vh;
    height: 25vh;
  }
  .home-text-div {
    position: absolute;
    top: 25%;
    left: 2%;
    padding: 2rem;
  }
  .header-expand {
    width: 60vw;
    height: 55vw;
  }
  .li-contact {
    position: absolute;
    padding-top: 16rem;
    padding-left: 10.5rem;
  }
}

@media (max-width: 600px) and (min-width: 400px) {
  html {
    font-size: 2vw;
  }
  .header-expand {
    width: 30vh;
    height: 25vh;
  }
  .home-text-div {
    position: absolute;
    top: 25%;
    left: 12%;
    padding: 2rem;
  }
  .header-expand {
    width: 50vw;
    height: 45vw;
  }
}

@media (max-width: 800px) and (min-width: 600px) {
  html {
    font-size: 1.5vw;
  }
  .header-expand {
    width: 30vh;
    height: 25vh;
  }
  .home-text-div {
    position: absolute;
    top: 25%;
    left: 21%;
    padding: 2rem;
  }
  .header-expand {
    width: 40vw;
    height: 35vw;
  }
}
/*# sourceMappingURL=main.css.map */