$font-color-white: #ffffff;
$font-color-dark: #363636;


html {
    font-size: 1vw;
}

header {
    padding: 0;
    margin: 0;
    top: 0;
    right: 1vw;
    position: fixed;
    z-index: 5;
    background-color: #E5E5E5;
    width: 0vw;
    height: 0vw;
    border-bottom-left-radius: 100%;
    transition-property: width, height;
    transition-duration: 300ms;
}

.header-expand {
    width: 30vw;
    height: 25vw;
}


.header-svg {
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    transform: rotate(180deg);
}

.header-svg:hover {
    color: yellow;
    width: 3rem;
    height: 3rem;
}

li a {
    text-decoration: none;
    font-size: 2rem;
    color: #063986;
}

ul {
    list-style-type: none;
    position: relative;
}

.li-about {
    position: absolute;
}

.li-projects {
    position: absolute;
    padding-top: 8rem;
    padding-left: 4rem;
}

.li-contact {
    position: absolute;
    padding-top: 16rem;
    padding-left: 12rem;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}



main {
    height: 100vh;
    scroll-snap-type: y;
    overflow-y: scroll;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

.home {
    display: flex;
    position: relative;
    overflow-x: hidden;
}

.home-box-1 {
    width: 50vw;
    height: 100%;
    background-color: $font-color-dark;
    position: relative;
    transition-duration: 500ms;
    transition-property: width;
    transition-timing-function: ease-out;
}

#svgArrowRight {
    position: absolute;
    top: 5vh;
    right: 1vw;

}

#svgArrowLeft {
    position: absolute;
    top: 5vh;
    left: 1vw;

}

.home-box-extend {
    width: 100vw;
}

.home-box-compress {
    width: 0vw;
}



.home-box-2 {
    width: auto;
    height: 100%;
    background-color: $font-color-white;
    position: relative;
    transition-duration: 500ms;
    transition-property: width;
    transition-timing-function: ease-out;
}



.home-bg-chg {
    position: absolute;
    top: 0;
    display: flex;
}

.svg-arrow-left,
.svg-arrow-right {
    cursor: pointer;
    animation-name: fadeOut;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    width: 2.5rem;
    height: 2.5rem;

}

@keyframes fadeOut {
    0% {
        padding-left: 2px;
        padding-right: 2px;
    }

    20% {
        padding-left: 4px;
        padding-right: 4px;
    }

    40% {
        padding-left: 6px;
        padding-right: 6px;
    }

    60% {
        padding-left: 6px;
        padding-right: 6px;
    }

    80% {
        padding-left: 4px;
        padding-right: 4px;

    }

    100% {
        padding-left: 2px;
        padding-right: 2px;

    }
}





.about {
    background-color: bisque;
}

.services {
    background-color: chartreuse;
}

.projects {
    background-color: cyan;
}

.contact {
    background-color: darkorange;
}

.home-text-div {
    padding: 2rem;
}

.home-text1 {
    font-size: 5rem;
}

.home-text2 {
    font-size: 3rem;
}

.home-text3 {
    font-size: 3rem;
}

.home-text2-1,
.home-text3-1,
.home-text1 {

    color: $font-color-white;
}

.home-text2-2,
.home-text3-2 {

    color: $font-color-dark;
}


@media (max-width: 600px) {

    html {
        font-size: 2vw;
    }

    .header-expand {
        width: 30vh;
        height: 25vh;
    }

}
